<div class="p-6">
  <input
    type="text"
    class="mb-4 p-2 border rounded"
    placeholder="Search by Username"
    [(ngModel)]="searchTerm"
    (input)="applyFilter()"
    aria-label="Search user"
  />
  <div class="bg-white rounded-lg shadow overflow-hidden">
    <table mat-table [dataSource]="filteredUsers" class="w-full">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-50 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Name
        </th>
        <td mat-cell *matCellDef="let user" class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
          {{user.name}}
        </td>
      </ng-container>

      <!-- Workouts Column -->
      <ng-container matColumnDef="workouts">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-50 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Number of Workouts
        </th>
        <td mat-cell *matCellDef="let user" class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
          {{user.workouts}}
        </td>
      </ng-container>

      <!-- Minutes Column -->
      <ng-container matColumnDef="minutes">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-50 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Total Workout Minutes
        </th>
        <td mat-cell *matCellDef="let user" class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
          {{user.goal}}
        </td>
      </ng-container>

      <!-- Workout Type Column -->
      <ng-container matColumnDef="workoutType">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-50 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Preferred Workout
        </th>
        <td mat-cell *matCellDef="let user" class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
          <span *ngFor="let type of user.workoutType; let last = last" 
                class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-blue-800 mr-1">
            {{ type }}{{ last ? '' : ',' }}
          </span>
        </td>
      </ng-container>
      

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="border-b border-gray-200"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-50 border-b border-gray-200"></tr>
    </table>
  </div>
</div>